/* 1 SECTION START: NAVIGATION MENIU */

.float-navigation {
  background-color: $baseColor;
  position: fixed;
  width: 100%;
  z-index: 1000;

  .container {
    justify-content: space-between;
    align-items: center;

    .logo {
      padding: 16.609px 15px 16.625px 35px;
      max-width: 155px;
    }
  }

  &.shrink{
    .container {
      height: 73px;
    }
    .logo {
      padding: 15px 15px 15px 35px;
      max-width: 105px;
    }
  }
}


.meniu {
  align-items: center;

  a {
    color: #fff;
    font-size: 0.75rem;
    font-family: $karla;
    letter-spacing: 2px;
    padding: 10px;
    &:hover, &.selected, span:hover {
      color: #e8d2b8;
    }
  }

  .lang a {
    vertical-align: -2px;
  }

  .icon-search1 {
    color: #fff;
    vertical-align: -1px;
  }  
}

/* 1 SECTION END: NAVIGATION MENIU */
