/* 8 SECTION START: NEWS */

.news {
  background-color: #f7f4f0;
}

.news .container {
  padding-top: 135px;
  padding-bottom: 125px;
}

.news h5 {
  @include big-title;
  font-size: 2.25rem;
  line-height: 44px;
  text-align: center;
  margin-bottom: 55px;
}

figure {
  position: relative;
  margin: 0;
}

.top-right {
  position: absolute;
  top: 15px;
  left: 15px;
}

%news_click {
  font-family: $karla;
  text-decoration: none;
  background-color: #2d2a27;
  text-transform: uppercase;
}

.top-right a {
  @extend %news_click;
  padding: 5px 15px;
  margin-bottom: 2px;
  margin-right: 2px;
  color: #f7f4f0;
  font-size: .75rem;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 18px;

}

.top-right a:hover {
  background: #a1886b;
  color: #f7f4f0;
}

.news-columns {
  justify-content: space-between;
  flex-wrap: wrap;
}

.one-news-column {
  width: 30%; /*30.8510*/
}

.bottom-column {
  padding: 25px;
  background-color: #fff;
}

.bottom-column h6 {
  @include big-title;
  font-size: 1.125rem;
  line-height: 24px;
}

.date-published {
  margin-top: 5px;
}

.date-published h6 {
  @include uppercase-title;
  font-size: 0.75rem;
  line-height: 18px;
  letter-spacing: 2px;
}

.paragraph {
  margin-top: 15px;
}

.paragraph p {
  margin: 0;
  font-size: 1rem;
  line-height: 26px;
  font-weight: 300;
}

.news footer {
  margin-top: 17px;
}

.news footer a {
  @extend %news_click;
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 16px;
  color: #2d2a27;
  background-color: transparent;
}

.news footer a:hover {
  color: #b8a48d;
}

.three-dots {
  justify-content: center;
  padding-top: 25px;
  font-size: 10px;
  color: #d8d3d2;
}

.three-dots i {
  padding: 3px;
}

.three-dots i:hover {
  color: #b7a48e;
}

/* kaip padaryti, kad ir liktu hover spalvos, kai tas langas aktyvus????? */

/* 8 SECTION END: NEWS */