/* CONTACT US FORM: START */
%equal_margins {
	padding-bottom: 10px;
	margin-right: 6px;
	margin-left: 6px;
}

.reservation {
	background-color: #f7f4f0;

	.container {
		padding-top: 270px;
		padding-bottom: 210px;
		justify-content: center;

		h3{
			@include uppercase-title;
			margin-bottom: 5px;
			text-align: center;
		}

		h4 {
			@include big-title;
			font-size: 2.25rem;
			line-height: 44px;
			margin-bottom: 45px;
			text-align: center;
		}

		.call_to_action {
			@extend %equal_margins;
			padding-top: 20px;

			input{
				width: initial;
				&:hover{
					background: #b8a48d;
			  		color: #f7f4f0; 
				}
			}	
		}
	}
}


.one_form {
	@extend %equal_margins;

	label {
		padding-bottom: 6px;
		@extend %news_click;
	  	@include read_more;

	  	span{
			color: #b8a48d;
		}
	}
}

select, input, textarea {
    width: 100%;
    padding: 9px 15px;
    border: 1px solid rgb(216, 211, 210);
    &:focus{
    	outline-color: #b8a48d;
    }
}

/* CONTACT US FORM: END */