*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?l3f3na");
  src: url("assets/fonts/icomoon.eot?l3f3na#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?l3f3na") format("truetype"), url("../fonts/icomoon.woff?l3f3na") format("woff"), url("../fonts/icomoon.svg?l3f3na#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search1:before {
  content: "\e901";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

/******************************************************************/
html {
  font-size: 16px;
}

body {
  margin: 0;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.flexinam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: "Karla", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

p {
  font-family: "Roboto", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-weight: 300;
}

/* START: botton-to-top */
.myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 99;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: #b7a48e;
  color: white;
  cursor: pointer;
  padding: 14px 20px;
}

.myBtn:hover {
  background-color: #a1886b;
}

/* END: botton-to-top */
/* 1 SECTION START: NAVIGATION MENIU */
.float-navigation {
  background-color: #2a2d2c;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.float-navigation .container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 35px;
}

.float-navigation .container .logo {
  padding: 16.609px 15px 16.625px 35px;
  max-width: 155px;
}

.float-navigation.shrink .container {
  height: 73px;
}

.float-navigation.shrink .logo {
  padding: 15px 15px 15px 35px;
  max-width: 105px;
}

.meniu {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.meniu a {
  color: #fff;
  font-size: 0.75rem;
  font-family: "Karla", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  letter-spacing: 2px;
  padding: 10px;
}

.meniu a:hover, .meniu a.selected, .meniu a span:hover {
  color: #e8d2b8;
}

.meniu a.icon_burger {
  display: none;
}

/* 1 SECTION END: NAVIGATION MENIU */
/* 2 SECTION START: CAROUSEL */
.button {
  padding: 16px 42px;
  /* tipo 11 ir 42*/
  background-color: #2d2a27;
  border: #6a6560;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Karla", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 0.6875rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 4px;
}

.carousel {
  background-color: #2a2d2c;
}

.carousel .owl-carousel .owl-stage-outer {
  -webkit-transform: translateY(107px);
  -ms-transform: translateY(107px);
  transform: translateY(107px);
}

.carousel .owl-carousel .owl-stage-outer .special-container {
  max-width: 1186px;
  margin: 0 auto;
  margin-left: 39.547px;
  margin-right: 39.547px;
  min-height: 100vh;
  /* kaip sitas sprendimas? 612px; 715px, 100vh*/
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.photo {
  background-size: cover;
  background-position: center;
}

.photo.first {
  background-image: url("../images/big_towel-compressor.jpg");
}

.photo.first .content {
  padding-left: 73px;
  max-width: 623px;
}

.photo.first .content h3 {
  color: #c0b7af;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Karla", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  letter-spacing: 3px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.photo.first .content h4 {
  color: #2d2a27;
  font-family: "Marcellus", Georgia, Times, "Century Schoolbook L", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.9rem;
  letter-spacing: 1px;
  padding-top: 25px;
  padding-bottom: 45px;
}

.photo.first .content a:hover {
  background: #b8a48d;
  color: #f7f4f0;
}

.photo.second {
  background-image: url("../images/big_mask-compressor.jpg");
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.photo.second .content {
  padding-left: 20px;
  max-width: 623px;
}

.photo.second .content h3 {
  color: #c0b7af;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Karla", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  letter-spacing: 3px;
  font-style: normal;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.photo.second .content h4 {
  color: #2d2a27;
  font-family: "Marcellus", Georgia, Times, "Century Schoolbook L", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.9rem;
  letter-spacing: 1px;
  padding-top: 25px;
  padding-bottom: 45px;
  color: white;
}

.photo.second .content a:hover {
  background: #fff;
  color: black;
}

/* 2 SECTION END: CAROUSEL */
/* 3 SECTION START: overlay */
.overlay {
  height: 107px;
  background-color: #f7f3f0;
}

/* 3 SECTION END: overlay */
/* 4 SECTION START: ABOUT US */
.about-us {
  background-image: url("../images/wave-background-compressor.jpg");
  background-size: cover;
  background-position: center;
}

.about-us .container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.content-about-us a:hover, .voucher .container .voucher-content a:hover {
  border: 1px solid #d8d3d2;
  background-color: #f7f4f0;
  color: #2d2a27;
}

/*centruojam turini: */
.content-about-us {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 163px;
  margin-bottom: 202px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  max-width: 450px;
  text-align: center;
}

.content-about-us h1 {
  color: #c0b7af;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Karla", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  letter-spacing: 3px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.content-about-us h2 {
  color: #2d2a27;
  font-family: "Marcellus", Georgia, Times, "Century Schoolbook L", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  letter-spacing: 3px;
  padding-bottom: 35px;
  padding-top: 35px;
}

.content-about-us p {
  color: #6a6560;
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 28px;
  padding-bottom: 35px;
}

.content-about-us .button {
  letter-spacing: 2px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* 4 SECTION END: ABOUT US */
/* 5 SECTION START: intro to services */
.intro-to-service {
  background-color: #fff;
}

.intro-to-service .container {
  padding-top: 125px;
  padding-bottom: 70px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro-to-service .container .antraste {
  width: 430.844px;
}

.intro-to-service .container .antraste h4 {
  color: #2d2a27;
  font-family: "Marcellus", Georgia, Times, "Century Schoolbook L", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: left;
  line-height: 34px;
}

.intro-to-service .container a {
  border: 1px solid #e0dddd;
  background-color: rgba(0, 0, 0, 0);
  color: #2d2a27;
  letter-spacing: 2px;
  position: static;
}

.intro-to-service .container a:hover {
  color: #fff;
  background-color: #2d2a27;
  border-color: #4a4744;
}

/* 5 SECTION END: intro to services */
/* 6 SECTION START: services */
.paslaugos .container {
  padding-bottom: 110px;
  /* atemiau 40px, nes nuotraukos i apacia turi 40px margin*/
}

.paslaugos .container .service-photos {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.paslaugos .container .service-photos .spa {
  width: 29.8568%;
  margin-bottom: 40px;
  position: relative;
  /* uzdedam ant nuotraukos teksta */
  text-align: center;
  color: white;
}

.paslaugos .container .service-photos .spa:hover .overlayw3 {
  background-color: rgba(45, 42, 39, 0.5);
}

.paslaugos a {
  font-family: "Karla", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  text-decoration: none;
  display: block;
}

.paslaugos a .centered {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.paslaugos a .overlayw3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

/* 6 SECTION END: services */
/* 7 SECTION START: VOUCHERS*/
.voucher {
  background-image: url("../images/gultas-compressor.jpg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
}

.voucher .container {
  padding-top: 270px;
  padding-bottom: 270px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.voucher .container .voucher-content {
  max-width: 400px;
  position: relative;
  text-align: center;
}

.voucher .container .voucher-content h3 {
  color: #2d2a27;
  font-family: "Marcellus", Georgia, Times, "Century Schoolbook L", serif;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  color: #6a6560;
  font-size: 1.125rem;
}

.voucher .container .voucher-content h4 {
  color: #c0b7af;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Karla", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  letter-spacing: 3px;
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  font-size: 1.75rem;
  line-height: 44px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #2d2a27;
}

.voucher .container .voucher-content .button {
  margin-bottom: 240px;
  letter-spacing: 2px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* 7 SECTION END: VOUCHERS */
/* 8 SECTION START: NEWS */
.top-column .top-right a, .bottom-column footer a, .one_form label {
  font-family: "Karla", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  text-decoration: none;
  background-color: #2d2a27;
  text-transform: uppercase;
}

.news {
  background-color: #f7f4f0;
}

.news .container {
  padding-top: 135px;
  padding-bottom: 125px;
}

.news h5 {
  color: #2d2a27;
  font-family: "Marcellus", Georgia, Times, "Century Schoolbook L", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 44px;
  text-align: center;
  margin-bottom: 55px;
}

.news .karusele2 .owl-stage-outer {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

.news .one-news-column {
  width: 90%;
}

.top-column figure {
  position: relative;
  margin: 0;
}

.top-column .top-right {
  position: absolute;
  top: 15px;
  left: 15px;
}

.top-column .top-right a {
  padding: 5px 15px;
  margin-bottom: 2px;
  margin-right: 2px;
  color: #f7f4f0;
  font-size: .75rem;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 18px;
}

.top-column .top-right a:hover {
  background: #a1886b;
  color: #f7f4f0;
}

.bottom-column {
  padding: 25px;
  background-color: #fff;
}

.bottom-column h6 {
  color: #2d2a27;
  font-family: "Marcellus", Georgia, Times, "Century Schoolbook L", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 24px;
}

.bottom-column .date-published {
  margin-top: 5px;
}

.bottom-column .date-published h6 {
  color: #c0b7af;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Karla", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  letter-spacing: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 18px;
  letter-spacing: 2px;
}

.bottom-column .paragraph {
  margin-top: 15px;
}

.bottom-column .paragraph p {
  margin: 0;
  font-size: 1rem;
  line-height: 26px;
  font-weight: 300;
}

.bottom-column footer {
  margin-top: 17px;
}

.bottom-column footer a {
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 16px;
  color: #2d2a27;
  background-color: transparent;
}

.bottom-column footer a:hover {
  color: #b8a48d;
}

.owl-theme .owl-dots .owl-dot span {
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
  background-color: #d8d3d2;
}

.owl-theme .owl-dots .owl-dot:focus {
  outline: none;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #b7a48e;
}

/* 8 SECTION END: NEWS */
/* 9 SECTION START: FOOTER */
.end-footer {
  background-color: #1f1e1d;
}

.end-footer .footer-content {
  padding: 120px 20px 25px;
  text-align: center;
}

.end-footer .footer-content .logo2 {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 70px;
}

.end-footer .footer-content .logo2 img {
  display: inline;
  width: 100%;
}

.end-footer .footer-content .address {
  margin-bottom: 40px;
}

.end-footer .footer-content .address h4 {
  color: #c0b7af;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Karla", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  letter-spacing: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: .875rem;
  line-height: 34px;
  color: rgba(255, 255, 255, 0.4);
}

.end-footer .footer-content .address a {
  color: #c0b7af;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Karla", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  letter-spacing: 3px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: .875rem;
  line-height: 24px;
}

.end-footer .footer-content .rights {
  margin-top: 100px;
}

.end-footer .footer-content .rights p {
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.4);
  font-size: 1rem;
  line-height: 26px;
  display: inline;
}

.icon-social {
  margin-bottom: 20px;
}

.icon-social ul {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.icon-social ul a {
  color: #fff;
}

.icon-social ul a i {
  margin-right: 20px;
  font-size: 19px;
}

.icon-social ul a i:hover {
  color: #e7d2b9;
}

/* 9 SECTION END: FOOTER */
/* CONTACT US FORM: START */
.reservation .container .call_to_action, .one_form {
  padding-bottom: 10px;
  margin-right: 6px;
  margin-left: 6px;
}

.reservation {
  background-color: #f7f4f0;
}

.reservation .container {
  padding-top: 270px;
  padding-bottom: 210px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.reservation .container h3 {
  color: #c0b7af;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Karla", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  letter-spacing: 3px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 5px;
  text-align: center;
}

.reservation .container h4 {
  color: #2d2a27;
  font-family: "Marcellus", Georgia, Times, "Century Schoolbook L", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 44px;
  margin-bottom: 45px;
  text-align: center;
}

.reservation .container .call_to_action {
  padding-top: 20px;
}

.reservation .container .call_to_action input {
  width: initial;
}

.reservation .container .call_to_action input:hover {
  background: #b8a48d;
  color: #f7f4f0;
}

.one_form label {
  padding-bottom: 6px;
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 16px;
  color: #2d2a27;
  background-color: transparent;
}

.one_form label span {
  color: #b8a48d;
}

select, input, textarea {
  width: 100%;
  padding: 9px 15px;
  border: 1px solid #d8d3d2;
}

select:focus, input:focus, textarea:focus {
  outline-color: #b8a48d;
}

/* CONTACT US FORM: END */
@media screen and (max-width: 800px) {
  .float-navigation .meniu {
    position: relative;
    display: block;
  }
  .float-navigation .meniu a {
    font-size: 1rem;
  }
  .float-navigation .meniu a.icon_burger {
    display: block;
  }
  .topnav {
    display: none;
  }
  .topnav.responsive {
    position: absolute;
    display: block;
    width: 150px;
    right: 0;
    background-color: #2a2d2c;
    text-align: right;
    padding-bottom: 15px;
    line-height: 30px;
  }
}

@media all and (max-width: 600px) {
  .photo.first .content, .photo.second .content {
    padding-left: 20px;
    max-width: 280px;
  }
  .photo.first .content h3, .photo.second .content h3 {
    font-size: 1rem;
  }
  .photo.first .content h4, .photo.second .content h4 {
    font-size: 1.5rem;
  }
  .photo.first .content .button, .photo.second .content .button {
    padding: 10px 28px;
    letter-spacing: 2px;
  }
  .photo.second .content {
    max-width: 270px;
  }
  .photo.second .content .button {
    max-width: 30%;
  }
}

@media all and (max-width: 600px) {
  .content-about-us {
    margin-top: 170px;
    margin-bottom: 170px;
  }
}

@media all and (max-width: 1050px) {
  .intro-to-service .container {
    margin: 0 20px 0px 20px;
  }
}

@media screen and (max-width: 750px) {
  .intro-to-service .container {
    padding-top: 100px;
    padding-bottom: 70px;
    display: block;
    margin: 0 20px 0px 20px;
  }
  .intro-to-service .container .antraste {
    padding-bottom: 30px;
    width: 350px;
  }
}

@media all and (max-width: 1050px) {
  .paslaugos .container {
    margin: 0 20px 0px 20px;
  }
}

@media all and (max-width: 750px) {
  .paslaugos .container .service-photos .spa {
    width: 47%;
  }
}

@media screen and (max-width: 600px) {
  .paslaugos .container {
    padding-bottom: 50px;
    margin: 0 20px 0px 20px;
  }
  .paslaugos .container .service-photos .spa {
    width: 100%;
    margin-bottom: 0px;
  }
}

@media all and (max-width: 1000px) {
  .voucher .container {
    padding-top: 260px;
    padding-bottom: 250px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media all and (max-width: 1050px) {
  .news .container {
    margin: 0 20px 0px 20px;
  }
  .news .container .one-news-column {
    width: 100%;
  }
}

@media all and (max-width: 600px) {
  .news .container {
    padding: 100px 20px;
  }
}

@media all and (max-width: 600px) {
  .reservation .container {
    margin: 0 20px 0px 20px;
  }
}
